parameters:
  level: max
  paths:
    - bin
    - src
    - tests
  excludePaths:
    - src/Bindings/*
    - tests/DoraIntegration/*
    - tests/Unit/Scip/ProtoIndexEncoderTest.php
    - tests/*/testdata/*
